.modal-container {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal {
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    position: relative;
    transform: translateY(0%);
    transition: transform 1s;
}

.modal-close {
    transform: translateY(-200%);
}

.modal img {
    width: 30%;
}

.modal-text {
    font-size: 1.5rem;
    color: rgb(94, 209, 255);
    text-align: center;
}