.game__grid {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
}

.game__grid-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.game__grid-table tr {
    height: 33.33333%;
}

.game__grid-table td {
    width: 33.33333%;
}

.button-sel {
    display: block;
}

.button-select {
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.192);
    border: 1px solid rgba(255, 255, 255, 0.596);
    cursor: pointer;
    display: none;
    font-size: 4.5rem;
}