.buttons {
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_start {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: #2656f3b2;
  color: #010703;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 20px;
}
