.game__player {
    width: 20%;
    margin: 0px 15px;
    height: 100%;
    border: 6px solid white;
    border-radius: 20px;
    background: linear-gradient(#63abf3, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game__player-h2 {
    color: white;
    letter-spacing: 2px;
    font-size: 1.8rem;
    text-align: center;
}

.game__player-picture {
    width: 80%;
    display: flex;
    justify-content: center;
}

.emoji {
    width: 80%;
}

.game__player-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.game__player-p {
    font-size: 1.5rem;
}

.game__player-number-score {
    font-size: 4rem;
}

.turn img {
    width: 120%;
}

.not_turn img {
    width: 80%;
}